.h1 {
    font-family: 'Inconsolata', monospace;
    margin: 50px 70px;
    letter-spacing: 3px;
    margin: 50px 70px;
}

a {
    text-decoration: none;
}

nav {
    margin: 50px 70px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.nav__link {
    margin: 5px;
    display: inline-block;
    color: rgb(98, 98, 98);
    transition: color .3 linear;
}

.nav__link:hover {
    color: #000000;
}

.header {
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.image {
    display: inline-block;
    justify-content: center;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.center__row {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}

.center {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 auto;
}

.center__item {
    margin-right: 50px;
}

.center__lifestyle {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
    color: #ceae91;
    text-transform: uppercase;
}

.item__text__p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.item__h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 600;
}

.gray__line {
    margin-top: 122px;
    background: #cfcfcf;
    width: 100%;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__email {
    margin-top: 32px;
    background: #cfcfcf;
    width: 480px;
    height: 32px;
    font-size: 20px;
}

.main {
    display: flex;
    justify-content: center;
}

.submit__enter {
    background: #cfcfcf;
    width: 150px;
    margin-left: 25px;
    font-size: 20px;
}

.h1 {
    font-family: 'Inconsolata', monospace;
    margin: 20px 200px;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

.nav {
    margin: 20px 70px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.nav__link {
    margin: 100px;
    display: inline-block;
    align-items: center;
    color: rgb(98, 98, 98);
    transition: color .3 linear;
}

.nav__link:hover {
    color: #000000;
}

.header {
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.center__row {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}

.center {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 auto;
}

.center__item {
    margin-right: 50px;
}

.center__lifestyle {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
    color: #ceae91;
    text-transform: uppercase;
}

.item__text__p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.item__h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 600;
}

.gray__line {
    margin-top: 122px;
    background: #cfcfcf;
    width: 100%;
    height: 285px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__p {
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Playfair Display', serif;
}

.photodiary {
    margin: 50px 0 30px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #ceae91;
    text-transform: uppercase;
    font-size: 16px;
}

.main__container {
    margin-left: 450px;
}

.h2 {
    margin-left: 500px;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    margin-bottom: 40px;
}

.space {
    margin-left: 450px;
}